<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>figdesign</title>
    <link rel="stylesheet" href="class4.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">Positivus</div>
        <div class="menu">
          <a href="#">About us</a>
          <a href="#">Services</a>
          <a href="#">Use Cases</a>
          <a href="#">Pricing</a>
          <a href="#">Blog</a>
        </div>
        <div class="btn1">
          <button>Request a code</button>
        </div>
      </div>
      <span>Positivus</span>
    </header>
    <section class="section1">
      <div class="text1">
        <h2>Navigating the digital landscape for success</h2>
        <p>
          Our digital marketing agency helps business grow and succeed online
          through a range of services including SEO, PPC, social media
          marketing, and content creation
        </p>
        <div class="btn2">
          <button>Book a consultation</button>
        </div>
      </div>
      <div class="image">
        <img src="/images/IMG-20250522-WA0016.jpg" alt="" />
      </div>
    </section>
    <section class="section2">
      <div class="image1">
        <img src="/images/" alt="" />
        <img src="/images/IMG-20250522-WA0010.jpg" alt="" />
        <img src="/images/IMG-20250522-WA0013.jpg" alt="" />
        <img src="/images/IMG-20250522-WA0014.jpg" alt="" />
        <img src="/images/IMG-20250522-WA0015.jpg" alt="" />
      </div>
      <div class="text2">
        <h3>Services</h3>
        <p>
          At the digital marketing agency, we offer a range of services to
          <br />help businesses grow and succeed online.These services include:
        </p>
      </div>
      <div class="container">
        <div class="box1">
          <h4>Search engine optimization</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0011.jpg" alt="" />
        </div>
        <div class="box2">
          <h4>Pay-per-click advertising</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0005.jpg" alt="" />
        </div>
        <div class="box3">
          <h4>Social Media Marketing</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0002.jpg" alt="" />
        </div>
        <div class="box1">
          <h4>Email Marketing</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0013.jpg" alt="" />
        </div>
        <div class="box2">
          <h4>Content Creation</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0012.jpg" alt="" />
        </div>
        <div class="box3">
          <h4>Analytic and Tracking</h4>
          <p>Learn more</p>
          <img src="/images/IMG-20250527-WA0001.jpg" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
