body{
    width: 100vw;
    background-color: white;
}
.box1{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: black;
    animation: spinner1 5s ease-out infinite alternate-reverse;
    
}
.box2{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: black;
    animation: spinner2 5s ease-out infinite alternate-reverse;
}

@keyframes spinner1{
    0%{
        /* background-color: gray; */
        transform: translate(0, 0 );
        /* border-radius: 50%; */
        
    }

    100%{
        /* background-color: purple; */
        transform:translate(45vw, 50vh);
         /* border-radius: 50%; */
    }
}

@keyframes spinner2{
     0%{
        /* background-color: gray; */
        transform: translate(0, 0 );
        /* border-radius: 50%; */
        
    }

    100%{
        /* background-color: purple; */
        transform:translate(-45vw, 50vh);
         /* border-radius: 50%; */
    
}
}
