<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codify</title>
    <link rel="stylesheet" href="example.css" />
  </head>
  <body>
    <div class="mainbody">
      <h1>WALK THROUGH THE WORLD WITH US</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nobis nam
        tenetur sint aliquid porro totam optio incidunt, illum facere quam ipsa
        doloremque aperiam repudiandae quibusdam, dicta atque itaque eos!
      </p>
      <button>Get Started</button>
    </div>
  </body>
</html>
