<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about us</title>
    <link rel="stylesheet" href="examples.css" />
  </head>
  <body>
    <section class="hero-section">
      <div class="heading1">
        <h1>
          Projects and <br />
          Practice
        </h1>
      </div>
      <div class="content">
        <div class="firstcontainer">
          <div class="text">
            <h1>01</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
              illum.
            </p>
          </div>
          <div class="img">
            <img src="/images/IMG-20250513-WA0018.jpg" alt="" />
          </div>
        </div>
        <div class="secondcontainer">
          <div class="text">
            <h1>02</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
              quia?
            </p>
          </div>
          <div class="img">
            <img src="/images/IMG-20250513-WA0016.jpg" alt="" />
          </div>
        </div>
        <div class="thirdcontainer">
          <div class="text">
            <h1>03</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quas.
            </p>
          </div>
          <div class="img">
            <img src="/images/IMG-20250513-WA0017.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
