<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASSIGN</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="img">
        <img
          src="./images/woman-hugging-her-dog-outdoors-2021-09-02-07-50-01-utc.jpg"
          alt=""
        />
      </div>
      <div class="text">
        <p class="firsthead">Perfume</p>
        <h1>Gabrielle Essence Eau De Perfum</h1>
        <p class="secondhead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          quisquam rerum, cumque eaque asperiores debitis sint nobis soluta ex
          ipsum inventore, at itaque reprehenderit fuga magni reiciendis, unde
          culpa corrupti!
        </p>
        <h3>$149.99 <span>$139.99</span></h3>
        <button>add to cart</button>
      </div>
    </div>
  </body>
</html>
