<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ifeoluwa</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>im ifeoluwa</h1>
    <h3>im a student</h3>
    <h6>im learning html</h6>
    <p>im learning coding and i think im getting to like it</p>
    <div>im learning programming</div>
    <table style="width: 100%">
      <tr>
        <td>name</td>
        <td>address</td>
        <td>dob</td>
      </tr>
    </table>
    <pre>Oyo state Nigeria</pre>
    <table>
      <tr>
        <td>
          <table width="800px" height="800px">
            <tr>
              <td
                colspan="6"
                rowspan="6"
                style="background-color: yellow; text-align: center"
              >
                <img
                  src="./images/Cristiano Ronaldo.jpeg"
                  alt=""
                  width="50px"
                />
                19
              </td>

              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td colspan="6" rowspan="6" style="background-color: red; text-align: center;" >
                <img
                  src="./images/Download free png of PNG Football sports player adult by Wan about png, cartoon, grass, football, and person 12203161.jpeg"
                  alt=""
                  width="50px"
                />28
              </td>
            </tr>
            <tr>
              <td>42</td>
              <td rowspan="5" style="background-color: red">43</td>
              <td style="background-color: red">44</td>
            </tr>
            <tr>
              <td>59</td>

              <td>61</td>
            </tr>
            <tr>
              <td>76</td>

              <td>78</td>
            </tr>
            <tr>
              <td>93</td>

              <td>95</td>
            </tr>
            <tr>
              <td>110</td>

              <td>112</td>
            </tr>
            <tr>
              <td>121</td>
              <td style="background-color: yellow">122</td>
              <td>123</td>
              <td>124</td>
              <td>125</td>
              <td>126</td>
              <td colspan="3" rowspan="3" style="background-color: aquamarine">
                127
              </td>

              <td>130</td>
              <td>131</td>
              <td>132</td>
              <td>133</td>
              <td>134</td>
              <td>135</td>
            </tr>
            <tr>
              <td>138</td>
              <td colspan="5" style="background-color: yellow">139</td>

              <td colspan="5" style="background-color: blue">147</td>

              <td>152</td>
            </tr>
            <tr>
              <td>155</td>
              <td>156</td>
              <td>157</td>
              <td>158</td>
              <td>159</td>
              <td>160</td>

              <td>164</td>
              <td>165</td>
              <td>166</td>
              <td>167</td>
              <td style="background-color: blue">168</td>
              <td>169</td>
            </tr>
            <tr>
              <td colspan="6" rowspan="6" style="background-color: green; text-align: center;">
                <img
                  src="./images/Download free png of PNG Football sports adult determination_  by Ing about png, grass, football, face, and person 12441265.jpeg"
                  alt=""
                  width="100px"
                />172
              </td>

              <td>178</td>
              <td rowspan="5" style="background-color: green">179</td>
              <td>180</td>
              <td colspan="6" rowspan="6" style="background-color: blue; text-align: center;">
                <img
                  src="./images/woman-hugging-her-dog-outdoors-2021-09-02-07-50-01-utc.jpg"
                  alt=""
                  width="100px"
                />
                181
              </td>
            </tr>
            <tr>
              <td>195</td>

              <td>197</td>
            </tr>
            <tr>
              <td>212</td>

              <td>214</td>
            </tr>
            <tr>
              <td>229</td>

              <td>231</td>
            </tr>
            <tr>
              <td style="background-color: green">246</td>

              <td>248</td>
            </tr>
            <tr>
              <td>263</td>
              <td>264</td>
              <td>265</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <a href="./about-us.html">about us</a>
    <br />
    <a href="./services.html">Our services</a>
  </body>
</html>
