<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>anydesign</title>
    <link rel="stylesheet" href="miscelleneous.css" />
  </head>
  <body>
    <section class="navigation">
      <nav>
        <div class="logo">
          <h3>Jobpilot</h3>
        </div>
        <div class="links">
          <a href="#">Home</a>
          <a href="#">Find Job</a>
          <a href="#">Employer</a>
          <a href="#">Pricing Plans</a>
          <a href="#">Candidates</a>
          <a href="#">Customer Support</a>
        </div>
        <div class="btns">
          <a href="#"><button class="btn1">sign in</button></a>
          <a href="#"><button class="btn2">Post a Job</button></a>
        </div>
      </nav>
    </section>
    <section class="hero-section">
      <div class="textandimage">
        <div class="text">
          <h1>Find a job that suits your interest & skills.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium, consectetur?
          </p>
          <div class="box">
          <input type="text" placeholder="Job title, keyword..." />
          <input type="text" placeholder="Your Location" />
          <button>Find Job</button>
        </div>
        </div>
        <div class="img">
          <img src="/images/Illustration (1).png" alt="" />
        </div>
      </div>
      <div class="cards">
      <div class="cards1">card1</div>
      <div class="cards2">card2</div>
      <div class="cards3">card3</div>
      <div class="cards4">card4</div>
    </div>
    </section>
  </body>
</html>
