<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>newassignment</title>
    <link rel="stylesheet" href="newassignment.css" />
  </head>
  <body>
    <header>
      <div class="navigation">
        <div class="logo"><h3>B.I.D</h3></div>
        <div class="links">
          <a href="#">Home</a>
          <a href="#">Services</a>
          <a href="#">Contacts</a>
          <a href="#">Products</a>
          <a href="#">Social</a>
        </div>
      </div>
    </header>
    <section class="section1">
      <div class="firstcontainer">
        <h1>About The Page</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eum iste
          excepturi delectus expedita obcaecati aliquid unde aliquam tempore
          libero!
        </p>
        <button>homepage</button>
      </div>
    </section>
    <section class="section2">
      <div class="secondcontainer">
        <div class="img"><img src="/images/Illustration (1).png" alt="" /></div>
        <div class="text">
          <h1>About image</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            provident eaque, similique natus obcaecati molestiae nesciunt
            adipisci dolor ad architecto repellendus exercitationem asperiores
            recusandae. Maiores quas sint labore fuga earum!
          </p>
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="thirdcontainer">
        <div class="box1"></div>
        <div class="box1"></div>
        <div class="box1"></div>
        <div class="box1"></div>
        <div class="box1"></div>
      </div>
      <div class="forthcontainer">
        <h1>Our Services</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
          voluptatibus laboriosam suscipit eaque error recusandae, quasi
          excepturi debitis dolores expedita nesciunt est repellendus sint natus
          illum sapiente nostrum quas quibusdam.
        </p>
      </div>
    </section>
    <footer>
      <ul>
        <li>contact</li>
        <li>address</li>
        <li>services</li>
        <li>about us</li>
      </ul>
    </footer>
  </body>
</html>
