<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="portfolio.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <h3>B.I.D</h3>
        </div>
        <div class="menu">
          <a href="#">PROJECTS</a>
          <a href="#">ABOUT</a>
          <a href="#">CONTACT</a>
        </div>
      </div>
    </header>
    <section>
      <div class="container1">
        <div class="box">
          <h2>
            Artist Redefining</h2>
           <h2> Architecture with </h2>
         <h2>AI-Driven design </h2>
          
        </div>
        <div class="box"><img src="/images/Illustration (1).png" alt=""></div>
        <div class="box"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, saepe iure. Vero ratione tempore vitae consequuntur odio reprehenderit dolores earum ipsum voluptates exercitationem? Repudiandae nihil amet necessitatibus explicabo fugiat alias</p></div>
        <div class="box"></div>
      </div>
      <div class="container2">
        <div class="box1">
            <h3>About me</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima voluptate voluptas pariatur unde nemo tempora suscipit earum sunt ad explicabo?</p>
            <form>
                <input type="text" placeholder="Yourname">
                <input type="text" placeholder="youraddress">
                <input type="email" placeholder="youremail">
                <input type="text" placeholder="yourmobilenum">
                <input type="button" >

            </form>
        </div>
        <div class="box2">
            <span>Facebook</span>
            <span>Email</span>
            <span>Twitter</span>
        </div>
      </div>
    </section>
  </body>
</html>
