<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my assignment</title>
    <style>
      table,
      th,
      td {
        border: 2px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div>Question 1</div>
    <table width="800px">
      <tr>
        <th style="background-color: yellow">name</th>
        <th>date-of-birth</th>
        <th style="background-color: aqua">gender</th>
        <th>sign</th>
      </tr>
      <tr>
        <td colspan="3" ; style="background-color: blue">ifeoluwa</td>
        <td>ife</td>
      </tr>
      <td>david</td>
      <td colspan="3" ; style="background-color: blueviolet">biodata</td>
      <tr>
        <td style="background-color: red">peace</td>
        <td colspan="2">biodata</td>
        <td>pea</td>
      </tr>
    </table>
    <div>Question 2</div>
    <table width="400px" ; height="400px">
      <tr>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
      </tr>
      <tr>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
      </tr>
      <tr>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
      </tr>
      <tr>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
      </tr>
      <tr>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
      </tr>
      <tr>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
      </tr>
      <tr>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
      </tr>
      <tr>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
        <td style="background-color: white"></td>
        <td style="background-color: black"></td>
      </tr>
    </table>
    <div>Question 3</div>
    <h1>this is my first assignment</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
      perspiciatis minima et, eum quae eos eius. Incidunt similique aspernatur
      voluptatem!
    </p>
    <img src="./1.jpeg" ; width="150px" />
    <br />
    <a href="./index.html" ; target="_blank">home page</a>
    <br />
    <a href="about-us.html">about us</a>
  </body>
</html>
